/* Source: https://codepen.io/lbebber/pen/XJRdrV */

@keyframes flicker {
  0% {
    opacity: 0.58534;
  }
  5% {
    opacity: 0.31172;
  }
  10% {
    opacity: 0.77718;
  }
  15% {
    opacity: 0.49146;
  }
  20% {
    opacity: 0.49448;
  }
  25% {
    opacity: 0.27624;
  }
  30% {
    opacity: 0.95126;
  }
  35% {
    opacity: 0.75075;
  }
  40% {
    opacity: 0.02315;
  }
  45% {
    opacity: 0.16941;
  }
  50% {
    opacity: 0.80129;
  }
  55% {
    opacity: 0.0943;
  }
  60% {
    opacity: 0.57308;
  }
  65% {
    opacity: 0.23589;
  }
  70% {
    opacity: 0.90647;
  }
  75% {
    opacity: 0.14724;
  }
  80% {
    opacity: 0.60877;
  }
  85% {
    opacity: 0.42231;
  }
  90% {
    opacity: 0.02318;
  }
  95% {
    opacity: 0.28206;
  }
  100% {
    opacity: 0.25839;
  }
}

#monitor.pixelated.on::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}

#monitor.pixelated.on::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  5.1% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  16% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }
  20% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

@keyframes turn-off {
  0% {
    transform: scale(1, 1.3) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  100% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
    filter: brightness(50);
  }
}

#screen {
  width: 100%;
  height: 100%;
  border: none;
}

#monitor:not(.instaStart) > #screen {
  animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}

#monitor.on:not(.instaStart) > #screen {
  animation: turn-on 2s linear;
  animation-fill-mode: forwards;
}
