@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

@font-face {
  font-family: digital-dismay;
  src: url(img/digital-dismay.otf);
}

@font-face {
  font-family: pixeloid-sans;
  src: url(img/pixeloid-sans.ttf);
}

@font-face {
  font-family: pixeloid-sans;
  src: url(img/pixeloid-sans-bold.ttf);
  font-weight: bold;
}

html, body {
    margin: 0;
    overflow: hidden;
    background: #333;
    width: 100vw;
    height: 100vh;
    user-select: none;
}

#header {
    margin: 16px;
    text-align: center;
    font-size: 32px;
    font-family: monospace;
    color: green;
}

#arcade {
    position: absolute;
    width: 1845px;
    left: calc(50vw - 1845px / 2 + 4px); /* The image is 4px off-center */
    top: -401px; /* This is just lucky guessing */
    pointer-events: none;
    z-index: 3;
}

#intro {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    z-index: 4;
}

#intro > div {
    top: 312px;
    position: absolute;
    width: 768px;
    height: 768px;
}

#intro > div#balloon {
    position: absolute;
    width: 420px;
    height: 280px;
    left: calc(50% - 210px - 58px);
    top: 128px;
    background: white;
    border: 8px solid #ccc;
    border-radius: 50px;
    padding: 48px 64px;
    font-family: pixeloid-sans;
    font-size: 42px;
    transition: opacity 0.5s ease-in-out;
}

#balloon::before {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    bottom: -100px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ccc' stroke-width='8' stroke-linecap='round' fill='white' d='M50,0L0,100L100,0'/%3E%3C/svg%3E");
}

#intro img {
    position: absolute;
    left: 0;
    top: 0;
}

#intro .emoji {
    font-family: "Noto Color Emoji";
    position: absolute;
}

#maarten, #menno {
    transition: 1s ease-in-out;
    transition-property: left, right;
}

#maarten .emoji {
    font-size: 216px;
    left: 272px;
    top: 160px;
    transform: scaleY(1.5);
}

#menno .emoji {
    font-size: 160px;
    left: 304px;
    top: 112px;
}

#monitor {
    width: 1280px;
    height: 720px;
    position: relative;
    overflow: hidden;
    border: 5px solid black;
    margin: auto;
}

#screen > div {
    height: 100%;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: pixeloid-sans;
    font-size: 48px;
    color: white;
    text-align: center;
}

.blink {
    animation: blinker 1s ease-in-out infinite;
}

@keyframes blinker {
    20% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
}

#field {
    font-family: digital-dismay;
    color: #38f;
}

.car {
    display: block;
    position: absolute;
    width: 64px;
    height: 32px;
}

.car {
    color: #fff;
}

.explosion {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 200px;
    overflow: hidden;
    background-image: url(img/explosion.png);
}

#time {
    font-size: 64px;
    position: absolute;
    left: 2em;
    top: 1em;
}

#best-lap {
    font-size: 32px;
    position: absolute;
    left: 4em;
    top: 4em;
}

#best-lap::before {
    content: "Best lap: ";
    font-family: pixeloid-sans;
    font-size: 25.5px;
}

#speedometer {
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
    transform: translate(974px,64px) scale(0.1);
}

#speed {
    font-size: 48px;
    position: absolute;
    width: 178px;
    right: 128px;
    top: 104px;
    text-align: center;
}

#countdown {
    position: absolute;
    left: 50%;
    top: 50%;
}

#countdown > div, #top-right-menu > div {
    position: relative;
    background-size: cover;
    image-rendering: pixelated;
    cursor: pointer;
}

#countdown > div.count {
    width: 256px;
    height: 384px;
    top: -192px;
    left: -128px;
    animation: number-fadeout 1s ease-in;
    animation-iteration-count: 4;
}

#countdown > div.n3 {
    background-image: url(img/3.png);
}

#countdown > div.n2 {
    background-image: url(img/2.png);
}

#countdown > div.n1 {
    background-image: url(img/1.png);
}

#countdown > div.go {
    background-image: url(img/go.png);
    width: 768px;
    left: -384px;
}

@keyframes number-fadeout {
    100% {
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        opacity: 0;
    }
}

#victory {
    position: absolute;
    width: 640px;
    height: 360px;
    left: 320px;
    top: 180px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    transition: 0.5s ease-in-out;
    transition-property: opacity, transform;
    transform: scale(0);
}

#victory.visible {
    opacity: 1;
    transform: scale(1);
}

#victory > img {
    width: 192px;
    height: 192px;
}

#victory > div {
    font-family: pixeloid-sans;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#victory #laps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#victory span {
    font-family: digital-dismay;
}

#victory #laps span {
    font-size: 32px;
}

#victory #laps span::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

#victory #laps span.best::before {
    background: url(img/star.png);
    background-size: cover;
}

#victory:not(.visible) + #victory-continue, #restart:not(.visible) {
    display: none;
}

#victory-continue, #restart {
    position: absolute;
    width: 100%;
    bottom: 2em;
    font-family: pixeloid-sans;
    font-size: 48px;
    text-align: center;
}

#top-right-menu {
    position: absolute;
    display: flex;
    right: 24px;
    top: 24px;
    z-index: 5;
}

#top-right-menu > div {
    margin-left: 24px;
    width: 48px;
    height: 48px;
}

#top-right-menu div.off::after {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(img/off.png);
    background-size: cover;
    content: "";
}

#music {
    background: url(img/music.png);
}

#sound {
    background: url(img/sound.png);
}

#pre-load {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap: balance;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    background: #333;
    color: #ccc;
    font-family: pixeloid-sans;
    font-size: min(10vw, 10vh);
    padding: 1em;
    z-index: 42;
}
